<web-app >

  <servlet>
  <servlet-name>RegServlet1</servlet-name>
  <servlet-class>Test.RegServlet1</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>RegServlet1</servlet-name>
  <url-pattern>/reg1</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>RegServlet2</servlet-name>
  <servlet-class>Test.RegServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>RegServlet2</servlet-name>
  <url-pattern>/reg2</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>FinalServlet</servlet-name>
  <servlet-class>Test.FinalServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>FinalServlet</servlet-name>
  <url-pattern>/reg3</url-pattern>
  </servlet-mapping>
 
   
  <welcome-file-list>
    <welcome-file>input1.html</welcome-file>
  </welcome-file-list>
  
</web-app>
