<web-app>
<servlet>
<servlet-name>DisServlet</servlet-name>
<servlet-class>Test.DisServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DisServlet</servlet-name>
<url-patern>/log</url-patern>
</servlet-mapping>

<filter>
<filter-name>MyFilter</filter-name>
<filter-class>Test.MyFilter</filter-class>
</filter>

<filter-mapping>
<filter-name>MyFilter</filter-name>
<url-pattern>/log</url-pattern>
</filter-mapping>

<welcome-file-list>
<welcome-file>login.html</welcome-file>
</welcome-file-list>

</web-app>