<web-app>

<context-param>
<param-name>cVal</param-name>
<param-value>20000</param-value>
</context-param>

<servlet>
<servlet-name>DisplayJsp</servlet-name>
<jsp-file>/DisplayJsp.jsp</jsp-file>
<init-param>
<param-name>jVal</param-name>
<param-value>30000</param-value>
</init-param>
</servlet>


<servlet-mapping>
<servlet-name>DisplayJsp</servlet-name>
<url-pattern>/dis</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
</web-app>